@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&family=Roboto:wght@100;300;400;500;700;900&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0,0,0,0.1);
  background-image: url(assets/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

button {
  cursor: pointer;
}

.container_cadastro {
  width: 70%;
  height: 70%;
  background: #bbbbbb;
  box-shadow: 0 0 3px rgb(175, 175, 175);
  border-radius: 15px;
}

.header_cadastro {
    min-height: 70px;
    display: flex;
    align-items: center;
    gap: 20px;
    flex-direction: column;
    width: 100%; 
    padding: 0 1px; 
  }

  .header_cadastro .squaretopo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 80px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #707070;
    border: none;
  }
  
  .header_cadastro .squaretopo span {
    font-weight: 300;
    font-size: 30px;
    word-break: break-all;
    color: white;
  }
  
  #adicionar {
    margin-bottom: 20px;
    font-size: 20px;
    width: 12%;
    height: 40px;
    border-radius: 15px;
    color: white;
    background-color: #707070;
    border: none;
  }
  
.divTable {
  display: flex;
  justify-content: center;
  width: auto; 
}

.divTable::-webkit-scrollbar {
  width: 12px;
  background-color: whitesmoke; 
}

.divTable::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background-color: darkgray; 
}

  /* ESTILO DA TABELA */
  table {
    width: 90%;
    margin-left: 10px;
    border-spacing: 10px;
    word-break: break-all;
    border-collapse: collapse;
  }

  table tbody{
    margin-left: 100px;
  }
  
  /* ESTILO DAS LINHAS */

  thead {
    background-color: #707070;
    height: 45px;
  }

    /* ESTILO DAS LINHAS */
  
  tbody tr td {
    text-align: start;
    padding: 10px 0 0 37px;
    max-width: 50px;
  }

  thead tr th {
    border-radius: 15px;
    padding: 5px;
    font-size: 18px;
    font-weight: 450;
    text-align: start;
    padding-left: 30px;
    margin-bottom: 50px;
    color: white;
  }

  thead tr th:nth-child(2) {

    border-radius: 0;
  }

  thead tr th:first-child {
    border-top-right-radius: 0; border-bottom-right-radius: 0;
    }

  thead tr th:nth-child(3) {
    border-radius: 0;
    }

  thead tr th:nth-child(4){
   border-radius: 0;
    }

  thead tr th:last-child{
    border-top-left-radius: 0; border-bottom-left-radius: 0;
    }

  .divTable .botao {
    margin-left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
  }

  .square1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 41px;
    height: 41px;
    border-radius: 15px;
    background-color: blue;
    border: none;
  }

  .square1 #editar {
    width: 70%;
    height: 70%;
  }

  .square2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 41px;
    height: 41px;
    border-radius: 15px;
    background-color: red;
    border: none;
  }

  .square2 #editar {
    width: 70%;
    height: 70%;
  }

  thead tr th.imagem:last-child {
    width: 5%;
    border-radius: 10px;
    background-color: red;
  }
  
  tbody tr td.acao {
    justify-content: center;
    align-items: center;
  }
  
  @media (max-width: 700px) {
    body {
      font-size: 10px;
    }
    
    .header span {
      font-size: 15px;
    }
  
    #new {
      padding: 5px;
      font-size: 10px;
    }
  
    thead tr th.acao {
      width: auto!important;
    }
    
    td button i {
      font-size: 20px!important;
    }
  
    td button i:first-child {
      margin-right: 0;
    }

  .modal {
    width: 90%!important;
  }

  .modal label {
    font-size: 12px!important;
  }
}

.modal-container {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 999;
    align-items: center;
    justify-content: center;
  }
  
  .modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    background-color: #747474;
    border-radius: 10px;
    width: 50%;
  }
  
  .modal label {
    font-size: 16px;
    color: white;
    width: 100%;
  }
  
  .modal input {
    width: 100%;
    outline: none;
    padding: 5px 10px; 
    width: 100%;
    margin-bottom: 20px;
    border-top: none;
    border-left: none;
    border-right: none;
  }
  
  .modal button {
    width: 100%;
    margin: 1% auto;
    display: flex;
    justify-content: center;
    outline: none;
    padding: 5px 10px; 
    width: 30%;
    border: none;
    background-color: #353535;
    border-radius: 15px;
    color: white;
    font-size: 20px;
  }
  
  .active {
    display: flex;
  }
  
  .active .modal {
    animation: modal .4s;
  }
  
  @keyframes modal {
    from {
      opacity: 0;
      transform: translate3d(0, -60px, 0);
    }
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
  
  td button {
    border: none;
    outline: none;
    background: transparent;
  }
  
  td button i {
    font-size: 25px;
  }
  
  td button i:first-child {
    margin-right: 10px;
  }
  
  tbody {
    color: white;
  }

  bx bx-edit {
    color: white;
  }